/* styles/button.module.css */
.button {
  position: absolute;
  top: 16px;
  right: 24px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  color: inherit;
  z-index: 10;
}

/* styles/buttonOpen.module.css */
.buttonOpen {
  color: inherit;
  transition: 0.3s;
  font-size: 32px;
}

.buttonOpen:hover {
  color: #2982ff;
}

/* styles/buttonClose.module.css */
.buttonClose {
  color: inherit;
  transition: 0.3s;
  font-size: 32px;
}

.buttonClose:hover {
  color: #2982ff;
}
